# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ===============================
# RUNTIME (NO VERSIONAR)
# ===============================
runtime/

# ===============================
# CAPTURAS AUTOMÁTICAS
# ===============================
img/captured_regions_*/
img/errores/

# ===============================
# SISTEMA
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

trash/
